APP_URL=http://localhost:3500
NODE_ENV=local
PORT=3500

DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SSL=true
DB_SYNC_SCHEMA=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=

GOOGLE_API_KEY=

REDIS_URL=redis://localhost:6379